#loginButton {
    -fx-background-color: #2E3A4F;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px 15px;
    -fx-background-radius: 5px;
    -fx-border-color: #1C2B39;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.rounded-image {
    -fx-background-radius: 15;
    -fx-background-color: transparent;
}

.rounded-image > ImageView {
    -fx-clip: circle(15px at center);
}

.outer-border {
    -fx-background-color: white; /* Light background */
    -fx-padding: 20px;             /* Padding inside the border */
    -fx-border-color: #cccccc;     /* Light gray border color */
    -fx-border-width: 4px;      /* Rounded corners for the border */
    -fx-background-radius: 10px;   /* Rounded corners for the background */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 0); /* Drop shadow */
    
    /* Set width and height */
    -fx-max-width: 500px;          /* Maximum width */
    -fx-max-height: 500px;         /* Maximum height */
}

.welcome-label {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding-bottom: 10; /* Extra space below the welcome text */
}

/* Common style for form labels */
.form-label {
    -fx-font-size: 20px;
    -fx-text-fill: #555;
    -fx-font-weight: bold;
}

/* Common style for input fields */
.input-field required {
    -fx-pref-width: 300;
    -fx-padding: 5;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/* Styling for form fields container */
.form-field {
    -fx-alignment: CENTER; /* Align label and field to the left */
    -fx-font-size: 15px;
}

/* Style for the login button */
.login-button {
    -fx-background-color: #2E3A4F;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 10px 30px;
    -fx-background-radius: 5px;
    -fx-border-color: #1C2B39;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.login-button:hover {
    -fx-background-color: #4A5A6D;
}

.login-button:pressed {
    -fx-background-color: #1C2B39;
}

/* Style for the message label (error messages) */
.message-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-padding-top: 10; /* Space above the message label */
}
.userMessage {
    -fx-text-fill: red;
    -fx-font-size: 20px;
    -fx-padding-top: 10; /* Space above the message label */
}


